/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/acessibilidade/CookieConcient.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.body-acess{
    background-image: url(/_next/static/media/BackgroundAppCadt.2e043252.webp); 
    background-repeat: no-repeat;
    background-size:contain;
    background-position-y: bottom;
}

.h1-Cookies{
    font-family: sans-serif;
    color: #003670 ;
    padding: 3.5vh;
    margin-top: 2vh;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.imgBlindCo{
    width: 10vw;
}
.cookies-item{
    margin-top: -13vh;
    margin-left: 30vw;
}
.cookies-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 2px;
    width: 70%; 
    box-sizing: border-box; 
    box-shadow: 0 4px 6px rgba(0, 41, 94, 0.411);
    margin-left: 16vw;
    background-color: rgba(241, 249, 255, 0.739);
}
.main-content-cookies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px;
    max-width: 90%; 
    overflow-x: hidden; 
}
