body{
    background-image: url(../src/assets/BackgroundApp.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    

}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    margin-bottom: 10px;
    height: 95vh;
    overflow-y:inherit;
   }
   
  
   @media (max-width: 768px) {
    .main-content {
       padding: 200px; 
       gap: 100px; 
    }
   }
   
   
   @media (max-width: 480px) {
    .main-content {
       padding: 100px; 
       gap: 5px; 
    }
   }
   
   
.background-secondary {
 background-image: url(../src/assets/BackgroundAppProds.webp); 
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center; 
 height: 50vh; 
 width: 100%; 
 position:relative; 
 top: 2090px; 
}

.background-tertiary{
    background-image: url(./assets/BackgroundAppCadt.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%; 
    height: 30vh; 
    top: 3090px;
   }
   .background-4{
    background-image: url(./assets/BackgrounSobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%; 
    height: 30vh; 
    bottom: 872px;
   }