/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/cookies/CookiePopup.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.cookie-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-popup p {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: left;
}

.accept-cookies {
    background-color: #3d3333;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.5s ease;
    font-size: 17px;
    justify-items: center;
    
}
.decline-cookies {
    background-color: #a9a9a9;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.5s ease;
    font-size: 17px;
    justify-items: center;
    margin-left: 8px;
}

.accept-cookies:hover {
    background-color: #005fc5;
}

.decline-cookies:hover {
    background-color: #c82333;
}

/* Estilos para o botão com a imagem */
.cookie-popup button {
    position: relative;
    border: none;
    cursor: pointer;
}

/* Estilos para a caixa de informações */
.info-box {
    position: absolute;
    top: calc(100% + 10px);
    margin-top: -35vh;
    width: 30vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(35, 41, 53);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.164);
    display: none;
    z-index: 2000; /* Um valor maior que o z-index da cookie-popup */
}

.info-box p{
    color: #f9f9f9;
}

.info-box h3{
    color: #f9f9f9;
}

/* Estilos para a caixa de informações quando visível */
.cookie-popup button:hover .info-box {
    display: block;
}

.buttonAcessibilidade{
    justify-items: center;
    border-radius: 100px;
}

.buttonAcessibilidade:hover{
    background-color: #5999dc49;
    
   
}

.buttonAcessibilidade img{
    margin-top: -15px;
    margin-bottom: -5px;
    padding-top: -5px;
    width: 10vw;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.4.3 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.min-h-screen {
  min-height: 100vh;
}
.w-20 {
  width: 5rem;
}
.w-2 {
  width: 0.5rem;
}
.list-inside {
  list-style-position: inside;
}
.list-disc {
  list-style-type: disc;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.gap-4 {
  gap: 1rem;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.rounded {
  border-radius: 0.25rem;
}
.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}
.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.p-4 {
  padding: 1rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.sepia {
  --tw-sepia: sepia(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Footer/Rodape.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a1b62;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #e9ecef;
    border-top: 1px solid #e9ecef;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    bottom: auto;
    margin-top: auto;
  }
  
  .footer p {
    margin: 0;
    color: #e9ecef;
    font-family: sans-serif;
  }
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Header/Cabecalho.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.clear-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


/* Estilo para o conteúdo do cabeçalho */
.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end; /* Alinha os elementos à direita */
}

/* Estilo para o botão do menu */
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px; /* Ajuste conforme necessário */
}

/* Estilo para o ícone do menu */
.menu-icon {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.menu-button:hover{
    background-color: #d7f4ff; 
    border: 0px; 
    cursor: pointer; 
    width: 40px;
    border-radius: 20px;
}


.sales-icon {
    width: 13vw;
}


.login-icon {
    margin-left: -70px;
    width: 20px; 
    height: auto;
}

.login-button {
    background-color: #50fc00; 
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 7vw;
    height: 6vh;
}


.login-button:hover {
    background-color: #8dff98; 
}


.search-input {
    margin-right: 20px; 
    padding: 5px;
    border: 1px solid #cccccc;
    width: 7vw; 
    border-radius: 20px;
}


.search-input:focus {
    border-color: #0070d2; 
    outline: none; 
}


.search-button {
    border: 0px;
    background-color: none;
    border-radius: 20px;
    width: 30px;
    height: 40px;
    margin-right: 40px; 
}

.search-button:hover {
    cursor: pointer;
    transform: scale(1.3); /* Aumenta o tamanho da imagem em 10% */
    transition: transform 0.5s ease-in-out; 
    
}

.search-button img{
    width: 2vw;
}


@media (max-width: 768px) {
    .header-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-right: 0;
    }

    .search-input {
        width: 100%; 
    }

    .login-icon {
        width: 25px; 
    }
}


.imgBlind img {
    width: 80px;
    margin-top: 18px;
    margin-right: 30px;
   
}


.search-login-section {
    display: flex;
    align-items: center; 
}
a{
    color: #0070d2;
}
.login-button :link{
    text-decoration: none;
}
.login-button a{
    color: #000;
    margin-left: -40px;
}

.link-list {
    text-align: center; 
    width: 60vw;
    margin-right: 10vw;
  }
 
 .link-list li {
   display: inline-block;
   margin-right: 15px;
   padding-right: 25px;
   font-size: 15px;
 }
 
 .link-list li:last-child {
   margin-right: 0;
 }
 
 .nav-link {
   text-decoration: none;
   color: #333; /* Cor padrão dos links */
   transition: color 0.3s; /* Transição de cor durante o hover */
 }
 
 .nav-link:hover {
   color: #007bff; /* Cor do link durante o hover */
   transform: scale(1.3); 
   transition: transform 0.5s ease-in-out; 
 }


/*/////////////responsividade/////////////// */

@media (min-width: 769px) and (max-width: 1024px) {
    .header-content {
         justify-content: space-between; /* Adjust alignment for medium-sized screens */
     }
    .search-input {
         width: 60%; /* Adjust input width for better usability */
     }
 }
 
 @media (min-width: 1025px) {
    .header-content {
         justify-content: flex-end; /* Align items to the right on larger screens */
     }
    .search-input {
         width: 45%; /* Further reduce input width on extra-large screens */
     }
 }
 
 /* Ensure images and icons scale properly */
 img,.menu-icon {
     max-width: 80%;
     height: auto;
 }
 
 /* Typography adjustments for readability */
 body {
     font-size: 16px; /* Base font size */
 }
 
 @media (min-width: 769px) {
     body {
         font-size: 18px; /* Increase base font size for larger screens */
     }
 }
 
 @media (min-width: 1025px) {
     body {
         font-size: 20px; /* Even larger font size for extra-large screens */
     }
 }
 
 .logout-button{
    margin-left: 1vw;
    
 }

 .logout-button:hover{
    color: rgb(255, 88, 88);
    transition: 0.5s;
    
 }
 
 
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/switcher/ColorSwitcher.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.color-switcher {
    position: relative;
    display: inline-block;
    
  }
  
  .color-blindness-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    
    
  }

  .color-switcher li {
    padding-bottom: 15px;
   
  }

  .color-blindness-button:hover {
    
    
    border-radius: 3px;
    color: #317ec0;
    transition-duration: 1s;
    
   
  }
  
  .dropdown {
    position: absolute;
    align-items: center;
    background-color: rgb(255, 255, 255); /* Cor branca translúcida */
    border-radius: 5px;
    width: 25vw;
    height: auto;
    box-shadow: 0px 4px 6px 0px rgba(104, 180, 255, 0.2);
    margin-left: -150px;
    padding: 20px;
    list-style: none;
    
  }

  .h1-drop{
    color: #317ec0;
    font-size: 23px;
    align-self: center;
    margin-top: 1px;
    

  }


  .p-drop {
    margin-top: 10px;
  }
  
  .dropdownText{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
   
  }
 
 
  .optionButton{
    width: auto;
    margin-left: 30px;
   

  }

  /* Estilos para o switch */
.ios-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .ios-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .ios-switch label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc; /* Cor de fundo padrão do switch */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ios-switch label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .ios-switch input:checked + label {
    background-color: #3F98D0; /* Cor de fundo quando o switch está ligado */
  }
  
  .ios-switch input:checked + label:before {
    transform: translateX(20px);
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 13px;
  }
  
  .close-button:hover {
    color: #ff3b30; /* Cor do botão de fechar quando hover */
  }

  .fecharImg{
    width: 3px;
  }
 
 
 
 
