.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 800px; /* Define uma largura máxima para o container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    box-shadow: 0 4px 8px 0 rgba(0, 82, 125, 0.465); /* Sombra aplicada */
    border-radius: 10px;
}

.member {
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

.member-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.member-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10%;
}

.member p {
    margin: 0;
    padding: 25px 0;
    font-family: sans-serif;
    font-size: 20px;
}

.linkedin-image{
    width: 50%; 
}
