.main-content-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px;
    margin-bottom: 120px;
    max-width: 100%; 
    overflow-x: hidden; 
}

.sobre-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(1, 153, 255, 0.411);
    width: 100%; 
    box-sizing: border-box; 
}

.sobre-content h1{
    color: #317ec0;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
}

.sobre-content h2 {
    color: #0a1b62;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
}

.sobre-content p {
    text-align: left;
    font-size: 18px;
    color: #353535;
    font-family: sans-serif;
}

.img_main {
    width: 100%; 
    height: 30vh;
    box-sizing: border-box; 
}

.img_main img {
    width: 100%;
    height: auto;
}